In [4]:
import pandas as pd
dates = ['2019-03-10 2:30:00PM', '10th March 2019 14:30:00', 'March, 10, 2019', '10-03-2019', '03-10-2019', '10/03/2019', '2019/03/10']
pd.to_datetime(dates)

DatetimeIndex(['2019-03-10 14:30:00', '2019-03-10 14:30:00',
               '2019-03-10 00:00:00', '2019-10-03 00:00:00',
               '2019-03-10 00:00:00', '2019-10-03 00:00:00',
               '2019-03-10 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [5]:
pd.to_datetime('05/01/2019') # i mean here 05th jan, but op shows 1st may this can be overcome by setting parameters in .to_datetime

Timestamp('2019-05-01 00:00:00')

In [6]:
pd.to_datetime('05/01/2019', dayfirst = True) # we can delimit by using other notations as well we need to mention in parameters under format

Timestamp('2019-01-05 00:00:00')

In [9]:
pd.to_datetime('05$01$2019', dayfirst = True, format ='%d$%m$%Y')

Timestamp('2019-01-05 00:00:00')

In [11]:
dates = ['abc', '2019-03-10 2:30:00PM', '10th March 2019 14:30:00', 'March, 10, 2019', '10-03-2019', '03-10-2019', '10/03/2019', '2019/03/10']
pd.to_datetime(dates, errors ='ignore')

array(['abc', '2019-03-10 2:30:00PM', '10th March 2019 14:30:00',
       'March, 10, 2019', '10-03-2019', '03-10-2019', '10/03/2019',
       '2019/03/10'], dtype=object)

In [12]:
dates = ['abc', '2019-03-10 2:30:00PM', '10th March 2019 14:30:00', 'March, 10, 2019', '10-03-2019', '03-10-2019', '10/03/2019', '2019/03/10']
pd.to_datetime(dates, errors = 'coerce')

DatetimeIndex([                'NaT', '2019-03-10 14:30:00',
               '2019-03-10 14:30:00', '2019-03-10 00:00:00',
               '2019-10-03 00:00:00', '2019-03-10 00:00:00',
               '2019-10-03 00:00:00', '2019-03-10 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [13]:
t = 1552207138
pd.to_datetime(t, unit = 's')

Timestamp('2019-03-10 08:38:58')

In [14]:
dt =pd.to_datetime([t], unit = 's')
dt

DatetimeIndex(['2019-03-10 08:38:58'], dtype='datetime64[ns]', freq=None)

In [17]:
dt.view('int64')

array([1552207138000000000], dtype=int64)