In [1]:
import pandas as pd
y = pd.Period('2018')
y

Period('2018', 'A-DEC')

In [2]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [3]:
y.start_time

Timestamp('2018-01-01 00:00:00')

In [4]:
y.end_time

Timestamp('2018-12-31 23:59:59.999999999')

In [5]:
m=pd.Period('2017-04', freq ='M')
m

Period('2017-04', 'M')

In [6]:
m+1

Period('2017-05', 'M')

In [7]:
d = pd.Period('2016-02-28', freq = 'D')

In [8]:
d

Period('2016-02-28', 'D')

In [9]:
d+1

Period('2016-02-29', 'D')

In [10]:
d+308

Period('2017-01-01', 'D')

In [21]:
h= pd.Period('2019-03-11 13:50:55', freq= 'h')
h

Period('2019-03-11 13:00', 'H')

In [22]:
h+1

Period('2019-03-11 14:00', 'H')

In [23]:
min= pd.Period('2019-03-11 13:50:55', freq= 'min')
min

Period('2019-03-11 13:50', 'T')

In [14]:
s= pd.Period('2019-03-11 13:50:55', freq= 's')

In [15]:
s

Period('2019-03-11 13:50:55', 'S')

In [16]:
h.start_time

Timestamp('2019-03-11 13:00:00')

In [17]:
h.end_time

Timestamp('2019-03-11 13:59:59.999999999')

In [18]:
h.__class__

pandas._libs.tslibs.period.Period

In [19]:
h.__init__

In [20]:
h.__add__

In [28]:
h+pd.offsets.Hour(5)

Period('2019-03-11 18:00', 'H')

In [31]:
q = pd.Period('2017Q1', freq='Q-Jan')

In [32]:
q

Period('2017Q1', 'Q-JAN')

In [34]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [38]:
q.asfreq('M', how = 'end')

Period('2016-04', 'M')

In [39]:
q2 = pd.Period('2018Q2', freq = 'Q-Jan')
q2

Period('2018Q2', 'Q-JAN')

In [40]:
q2-q

5

In [41]:
idx =pd.period_range('2011', '2017', freq = 'Q-Jan')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [42]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [43]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [44]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2011Q4   -0.197981
2012Q1   -0.583576
2012Q2    0.979750
2012Q3    1.019833
2012Q4    0.589054
2013Q1    0.638379
2013Q2    0.744400
2013Q3   -0.862864
2013Q4    0.091803
2014Q1    0.592572
2014Q2    2.260386
2014Q3   -0.506657
2014Q4   -0.455001
2015Q1   -0.415888
2015Q2   -0.816528
2015Q3   -1.080002
2015Q4    0.282780
2016Q1    0.735542
2016Q2   -1.084671
2016Q3   -1.307623
2016Q4   -0.033140
2017Q1   -0.132281
2017Q2   -1.060271
2017Q3    0.383690
2017Q4   -0.124074
Freq: Q-JAN, dtype: float64

In [45]:
ps['2011']

2011Q4   -0.197981
2012Q1   -0.583576
2012Q2    0.979750
2012Q3    1.019833
2012Q4    0.589054
Freq: Q-JAN, dtype: float64

In [46]:
ps['2011':'2013']

2011Q4   -0.197981
2012Q1   -0.583576
2012Q2    0.979750
2012Q3    1.019833
2012Q4    0.589054
2013Q1    0.638379
2013Q2    0.744400
2013Q3   -0.862864
2013Q4    0.091803
2014Q1    0.592572
2014Q2    2.260386
2014Q3   -0.506657
2014Q4   -0.455001
Freq: Q-JAN, dtype: float64

In [47]:
pst = ps.to_timestamp()
pst

2010-11-01   -0.197981
2011-02-01   -0.583576
2011-05-01    0.979750
2011-08-01    1.019833
2011-11-01    0.589054
2012-02-01    0.638379
2012-05-01    0.744400
2012-08-01   -0.862864
2012-11-01    0.091803
2013-02-01    0.592572
2013-05-01    2.260386
2013-08-01   -0.506657
2013-11-01   -0.455001
2014-02-01   -0.415888
2014-05-01   -0.816528
2014-08-01   -1.080002
2014-11-01    0.282780
2015-02-01    0.735542
2015-05-01   -1.084671
2015-08-01   -1.307623
2015-11-01   -0.033140
2016-02-01   -0.132281
2016-05-01   -1.060271
2016-08-01    0.383690
2016-11-01   -0.124074
Freq: QS-NOV, dtype: float64

In [48]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01', '2013-05-01', '2013-08-01',
               '2013-11-01', '2014-02-01', '2014-05-01', '2014-08-01',
               '2014-11-01', '2015-02-01', '2015-05-01', '2015-08-01',
               '2015-11-01', '2016-02-01', '2016-05-01', '2016-08-01',
               '2016-11-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [50]:
pst.to_period

<bound method Series.to_period of 2010-11-01   -0.197981
2011-02-01   -0.583576
2011-05-01    0.979750
2011-08-01    1.019833
2011-11-01    0.589054
2012-02-01    0.638379
2012-05-01    0.744400
2012-08-01   -0.862864
2012-11-01    0.091803
2013-02-01    0.592572
2013-05-01    2.260386
2013-08-01   -0.506657
2013-11-01   -0.455001
2014-02-01   -0.415888
2014-05-01   -0.816528
2014-08-01   -1.080002
2014-11-01    0.282780
2015-02-01    0.735542
2015-05-01   -1.084671
2015-08-01   -1.307623
2015-11-01   -0.033140
2016-02-01   -0.132281
2016-05-01   -1.060271
2016-08-01    0.383690
2016-11-01   -0.124074
Freq: QS-NOV, dtype: float64>

In [60]:
import pandas as pd
df = pd.read_csv("c:\\Users\\Mannawar Hussain\\Desktop\\wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [61]:
df.set_index('Line Item', inplace = True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [62]:
df = df.T

In [63]:
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [64]:
df.index = pd.PeriodIndex(df.index, freq ='Q-Jan')

In [65]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [66]:
df['start time']= df.index.map(lambda x:x.start_time)

In [67]:
df

Line Item  Revenue  Expenses  Profit start time
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [68]:
df['end time'] = df.index.map(lambda x: x.end_time)

In [69]:
df

Line Item  Revenue  Expenses  Profit start time   end time
2017Q1      115904     86544   29360 2016-02-01 2016-04-30
2017Q2      120854     89485   31369 2016-05-01 2016-07-31
2017Q3      118179     87484   30695 2016-08-01 2016-10-31
2017Q4      130936     97743   33193 2016-11-01 2017-01-31
2018Q1      117542     87688   29854 2017-02-01 2017-04-30