In [6]:
import pandas as pd
df = pd.read_csv ("c:\\users\\Mannawar Hussain\\Desktop\\pandas\\weather_data.csv")
df

           day  Normal  Warmest  Coldest  Normal.1
0   01-01-2019    21.3     27.3     15.1       0.0
1   02-01-2019     NaN      NaN      NaN       NaN
2   03-01-2019    26.1     32.7     19.5       1.0
3   04-01-2019     NaN     34.2     21.8       3.0
4   05-01-2019     NaN     33.2     21.4       8.0
5   06-01-2019    24.6     29.2     20.1       8.0
6   07-01-2019    23.9     28.1     19.7       NaN
7   08-01-2019    23.5      NaN     19.5      13.0
8   09-01-2019    23.9      NaN     19.6      12.0
9   10-01-2019    23.7     28.0     19.3       8.0
10  11-01-2019     NaN     27.0     17.5       5.0
11  12-01-2019    21.1     26.2     16.0       2.0

In [8]:
#printing shape using python dictionary
weather_data = {
      'day': ['01-01-2019', '02-01-2019', '03-01-2019', '04-01-2019', '05-01-2019'],
      'temperature': ['21.3', '25', '23', '22', '20'],
      'warmest': ['32.7', '34.2', '33.2', '29.2', '28.1']
}
df = pd.DataFrame(weather_data)
df

          day temperature warmest
0  01-01-2019        21.3    32.7
1  02-01-2019          25    34.2
2  03-01-2019          23    33.2
3  04-01-2019          22    29.2
4  05-01-2019          20    28.1

In [9]:
rows, columns =df.shape

In [10]:
columns

3

In [11]:
df.head()

          day temperature warmest
0  01-01-2019        21.3    32.7
1  02-01-2019          25    34.2
2  03-01-2019          23    33.2
3  04-01-2019          22    29.2
4  05-01-2019          20    28.1

In [12]:
df.head (2)

          day temperature warmest
0  01-01-2019        21.3    32.7
1  02-01-2019          25    34.2

In [13]:
df.tail()

          day temperature warmest
0  01-01-2019        21.3    32.7
1  02-01-2019          25    34.2
2  03-01-2019          23    33.2
3  04-01-2019          22    29.2
4  05-01-2019          20    28.1

In [14]:
df.tail(1)

          day temperature warmest
4  05-01-2019          20    28.1

In [18]:
df[2:6]

          day temperature warmest
2  03-01-2019          23    33.2
3  04-01-2019          22    29.2
4  05-01-2019          20    28.1

In [19]:
df[:] #print whole rows

          day temperature warmest
0  01-01-2019        21.3    32.7
1  02-01-2019          25    34.2
2  03-01-2019          23    33.2
3  04-01-2019          22    29.2
4  05-01-2019          20    28.1

In [20]:
df.columns

Index(['day', 'temperature', 'warmest'], dtype='object')

In [21]:
df.day

0    01-01-2019
1    02-01-2019
2    03-01-2019
3    04-01-2019
4    05-01-2019
Name: day, dtype: object

In [23]:
df ['warmest']

0    32.7
1    34.2
2    33.2
3    29.2
4    28.1
Name: warmest, dtype: object

In [24]:
type(df['warmest'])

pandas.core.series.Series

In [25]:
df[['day', 'warmest']]

          day warmest
0  01-01-2019    32.7
1  02-01-2019    34.2
2  03-01-2019    33.2
3  04-01-2019    29.2
4  05-01-2019    28.1

In [26]:
df['temperature'].max()

'25'

In [27]:
df['temperature'].describe()

count      5
unique     5
top       25
freq       1
Name: temperature, dtype: object

In [28]:
df['temperature'].mean()

4.265046444

In [31]:
df['temperature'].min()

'20'

In [35]:
df[df.temperature ==df.temperature.max()]

          day temperature warmest
1  02-01-2019          25    34.2

In [39]:
df['day'][df.temperature==df ['temperature'].max()]

1    02-01-2019
Name: day, dtype: object

In [40]:
df

          day temperature warmest
0  01-01-2019        21.3    32.7
1  02-01-2019          25    34.2
2  03-01-2019          23    33.2
3  04-01-2019          22    29.2
4  05-01-2019          20    28.1

In [41]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [42]:
df.set_index('day')

           temperature warmest
day
01-01-2019        21.3    32.7
02-01-2019          25    34.2
03-01-2019          23    33.2
04-01-2019          22    29.2
05-01-2019          20    28.1

In [43]:
df

          day temperature warmest
0  01-01-2019        21.3    32.7
1  02-01-2019          25    34.2
2  03-01-2019          23    33.2
3  04-01-2019          22    29.2
4  05-01-2019          20    28.1

In [47]:
df.set_index('day', inplace =True)

In [48]:
df

           temperature warmest
day
01-01-2019        21.3    32.7
02-01-2019          25    34.2
03-01-2019          23    33.2
04-01-2019          22    29.2
05-01-2019          20    28.1

In [49]:
df.loc['01-01-2019']

temperature    21.3
warmest        32.7
Name: 01-01-2019, dtype: object

In [51]:
df.reset_index(inplace=True)

In [52]:
df

          day temperature warmest
0  01-01-2019        21.3    32.7
1  02-01-2019          25    34.2
2  03-01-2019          23    33.2
3  04-01-2019          22    29.2
4  05-01-2019          20    28.1

In [53]:
df.set_index('temperature', inplace=True)
df

                    day warmest
temperature
21.3         01-01-2019    32.7
25           02-01-2019    34.2
23           03-01-2019    33.2
22           04-01-2019    29.2
20           05-01-2019    28.1

In [54]:
df.loc['23']

day        03-01-2019
warmest          33.2
Name: 23, dtype: object