In [2]:
import pandas as pd
df = pd.read_csv("c:\\Users\\mannawar Hussain\\Desktop\\customers.csv")
df

     Customer Name  Customer Phone
0     rafael nadal      4567895647
1  maria sharapova       434534545
2   vladimir putin        89345345
3      kim un jong       123434456
4       jeff bezos       934534543
5     rahul gandhi        44324222

In [3]:
import sqlalchemy

In [4]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:@localhost:8888/application')

ModuleNotFoundError: No module named 'pymysql'