In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
titanic = sns.load_dataset('titanic')

In [2]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
titanic()

TypeError: 'DataFrame' object is not callable

In [ ]:
titanic.groupby('sex')[['survived']].mean()

In [ ]:
titanic.groupby('sex')[['survived']].describe()

In [ ]:
titanic.groupby(['sex', 'class'])['survived'].aggregate('mean').unstack()

In [ ]:
titanic.pivot_table('survived', index= 'sex', columns= 'class')

In [ ]:
age = pd.cut(titanic['age'], [0, 18, 80])
titanic.pivot_table('survived', ['sex', 'age'], 'class')

In [ ]:
fare = pd.qcut(titanic['fare'], 2)
titanic.pivot_table('survived', ['sex', age], [fare, 'class'])

In [ ]:
titanic.pivot_table(index ='sex', columns = 'class', 
                   aggfunc={'survived':sum, 'fare':'mean'})

In [5]:
births = pd.read_csv("C:\\Users\\Mannawar Hussain\\Desktop\\birthdata.csv")

In [6]:
births.head()

  year,month,day,gender,births
0              1969,1,1,F,4046
1              1969,1,1,M,4440
2              1969,1,2,F,4454
3              1969,1,2,M,4548
4              1969,1,3,F,4548

In [7]:
births['decade'] = 10 * (births['year']//10)
births.pivot_table('births', index = 'decade', columns ='gender', aggfunc = 'sum')

KeyError: 'year'