In [9]:
import numpy as np
rng = np.random.RandomState(42)
x = rng.rand(1000000)
y = rng.rand(1000000)
%timeit x + y

6.9 ms ± 1.41 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [8]:
%timeit np.fromiter((xi + yi for xi, yi in zip(x, y)), dtype=x.dtype, count=len(x))

ValueError: setting an array element with a sequence.

In [11]:
%timeit np.fromiter((xi + yi for xi, yi in zip(x, y)), dtype=x.dtype, count=len(x))
%timeit np.fromiter((xi + yi for xi, yi in zip(x, y)), dtype=x.dtype, count=len(x))

523 ms ± 4.05 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
527 ms ± 4.92 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [12]:
mask = (x>0.5) & (y<0.5)

In [13]:
tmp1 = (x>0.5)
tmp2 = (y<0.5)
mask = (tmp1 & tmp2)

In [14]:
import numexpr
mask_numexpr =numexpr.evaluate('(x>0.5) & (y<0.5)')
np.allclose(mask, mask_numexpr)

True

In [15]:
import pandas as pd
nrows, ncols = 100000, 100
rng = np.random.RandomState(42)
df1, df2, df3, df4 = (pd.DataFrame(rng.rand(nrows, ncols))
                     for i in range(4))

In [16]:
%timeit df1 + df2 + df3 + df4

119 ms ± 3.03 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [17]:
%timeit pd.eval ('df1 + df2 + df3 + df4')

52.9 ms ± 387 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [19]:
np.allclose(df1 + df2 + df3 + df4,
            pd.eval('df1 + df2 + df3 + df4'))

True

In [21]:
df1, df2, df3, df4, df5 = (pd.DataFrame(rng.randint(0, 1000, (100, 3)))
                           for i in range(5))

In [22]:
result1 = -df1*df2/(df3+df4) - df5
result2 = pd.eval('-df1*df2/(df3+df4) - df5')
np.allclose(result1, result2)

True

In [28]:
result1 = -df1*df2/(df3+df4) - df5
result2 = pd.eval('-df1*df2/(df3+df4) - df5')
np.allclose(result1, result2, rtol = 5, atol = 8, equal_nan = 'True')

True

In [29]:
result1 = (df1<df2) & (df2<=df3) & (df3 != df4)
result2 = pd.eval('df1 < df2 <= df3 != df4')
np.allclose(result1, result2)

True

In [31]:
result1 = (df1<0.5) & (df2<0.5)|(df3<df4)
result2 =pd.eval('(df1<0.5) & (df2<0.5)|(df3<df4)')
np.allclose(result1, result2)

True

In [33]:
result1 = df2.T[0] +df3.iloc[1]
result2 = pd.eval('df2.T[0] +df3.iloc[1]')
np.allclose(result1, result2)

True

In [36]:
df = pd.DataFrame(rng.rand(1000,3), columns = ['A', 'B', 'C'])
df.head()

          A         B         C
0  0.327752  0.443555  0.349259
1  0.485267  0.059146  0.135625
2  0.843940  0.237838  0.213023
3  0.021839  0.109438  0.335633
4  0.264754  0.080261  0.826190

In [39]:
result1 = (df['A'] + df['B'])/(df['C'] -1)
result2 = pd.eval("(df.A + df.B)/(df.C -1)")
np.allclose(result1, result2)

True

In [40]:
result3 = df.eval('(A+B)/(C-1)')

In [41]:
np.allclose(result1, result3)

True

In [42]:
df.eval ('D=(A+B)/C', inplace = True)
df.head()

          A         B         C         D
0  0.327752  0.443555  0.349259  2.208411
1  0.485267  0.059146  0.135625  4.014115
2  0.843940  0.237838  0.213023  5.078231
3  0.021839  0.109438  0.335633  0.391132
4  0.264754  0.080261  0.826190  0.417598

In [43]:
df.eval ('D=(A-B)/C', inplace = True)
df.head()

          A         B         C         D
0  0.327752  0.443555  0.349259 -0.331567
1  0.485267  0.059146  0.135625  3.141920
2  0.843940  0.237838  0.213023  2.845249
3  0.021839  0.109438  0.335633 -0.260995
4  0.264754  0.080261  0.826190  0.223307

In [47]:
column_mean = df.mean(1)
result1 = df['A'] + column_mean
result2 = df.eval('A + @column_mean')
np.allclose(result1, result2)

True

In [48]:
result1 = df[(df.A < 0.5) & (df.B < 0.5)]
result2 = pd.eval('df[(df.A < 0.5) & (df.B < 0.5)]')
np.allclose(result1, result2)

True

In [49]:
result2 = df.query('A<0.5 and B<0.5')
np.allclose(result1, result2)

True

In [51]:
Cmean = df['C'].mean()
result1 = df[(df.A <Cmean) & (df.B < Cmean)]
result2 = df.query('A < @Cmean and B < @Cmean')
np.allclose(result1, result2)

True

In [52]:
df.values.nbytes

32000